{% extends 'base.html' %}

{% block conteudo %}
    <h2>Agendamento de Consultas</h2>
    <form action="{{url_for('cadastro_consulta')}}" method="POST">
        <div>
            <label for="form_data">Data da Consulta</label>
            <input type="date" id="form_data" name="form_data" required>
        </div>

        <div>
            <label for="form_hora">Hora da Consulta</label>
            <input type="time" id="form_hora" name="form_hora" required>
        </div>

        <div>
            <label for="form_id_animal">ID do Animal</label>
            <input type="number" id="form_id_animal" name="form_id_animal" placeholder="Insira o ID do animal" required>
        </div>

        <div>
            <label for="form_crmv">CRMV do Veterinário</label>
            <input type="text" id="form_crmv" name="form_crmv" placeholder="Insira o CRMV do veterinário" required>
        </div>

        <button type="submit">Cadastrar Consulta</button>
    </form>
{% endblock conteudo %}
